<div class="container mt-1"style="width: 25rem; background-color: rgb(234, 243, 245); box-shadow: rgba(0,0,0,0.8) 0px 1px 8px;
border-radius: 4px;">
  <div class="row app-container pt-2 pb-2 " >
    <div class="card" style="text-align: center; color: rgb(7, 111, 230);">
    <h1>Login Form</h1>
      <form FormGroup="loginForm" ngSubmit="loginUser()">
      <input type="text" placeholder="Enter Username" FormControlName="user">
      <br>
      <span style="color: red;">This field is required.</span>
      <br>
      <input type="password" placeholder="Enter Password" FormControlName="password">
      <br>
      <span style="color: red;">This field is reqired</span>
      <br> 
      <button>Login</button>

      </form>
    </div>
  </div>
</div>  